<div [@routerTransition]>
    <div class="block-header">
         <div class="row">           
            <div class="card card-block panel panel-default panel-body">      
             <h1>Samples by status</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
          <select class="selectpicker">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>
                    
                    </div>                                   
                </div>
            </div>
            <br>
            <ngx-table [config]="config"
                        (tableChanged)="onChangeTable(config)"
                        (cellClicked)="onCellClick($event)"
                        [rows]="rows" [columns]="columns">
            </ngx-table>
            <pagination *ngIf="config.paging"
                        class="pagination-sm pull-right"
                        firstText="<<"
                        previousText="<"
                        nextText=">"
                        lastText=">>"
                        [(ngModel)]="page"
                        [totalItems]="length"
                        [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
            </pagination>     
            </div>
        </div>
    </div>
</div>